# Node.js dependencies
/backend/node_modules/

# Environment files
/backend/.env

# Log files
*.log

# Build output
/backend/dist
/backend/build

# Temporary files
*.tmp
*.temp

# macOS Finder
.DS_Store

# Windows thumbnail cache
Thumbs.db

# Excluir archivos específicos del backend
/backend/package-lock.json
