// Boton buscar
.busqueda-boton {
    padding-bottom: 10px;
    form {
        input[type="text"] {
            padding: 10px;
            border: 1px solid $color-primario;
            border-radius: 20px;
            margin-right: 10px;
            width: 200px;
            font-size: 14px;
            font-family: $font-family;
        }
    }
}

// Estilos del botón de iniciar sesión
.login {
    padding: 8px 12px;
    border: none;
    border-radius: 500px;
    background-color: #145483;
    color: $color-secundario;
    font-size: 14px;
    font-family: $font-family;
    cursor: pointer;
    @extend %transition-button;

    &:hover {
        background-color: darken($color-primario, 10%);
        scale: 1.1;
    }
}

// Estilos del modal de login
.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    animation: slideIn 0.5s ease forwards;
}

// Contenido del modal 
.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 20px;
    position: relative;
    top: 25%;
    transform: translateY(-25%); // Centra el modal verticalmente

    p {
        margin: 5px 0;
        display: flex;
        align-items: center;
        justify-content: center;

        .icon {
            width: 20px;
            margin-right: 10px;
            filter: invert(0);
        }

        .mail {
            color: #000; /* Color de texto secundario */
            text-decoration: none;
        }

        a {
            text-decoration: none;
            color: #000;
        }
    }
    .social-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 20px;

        .social-icon {
            width: 20px;
            margin-right: 10px;
            filter: invert(0);
            transition: transform 0.3s ease;

            &:hover {
                transform: scale(1.2);
            }
        }
    }
    @media screen and (max-width: 400px) {
        p {
            padding: 0;
        }

        .text-sign-in {
            margin: 20px 0;
        }
    }
}   

// Cuadros de correo y contraseña
#email, #password {
    padding: 8px;
    border: 2px solid $color-primario;
    border-radius: 50px;
    width: 250px;
    font-size: 14px;
    margin: 15px auto;
    display: block; 
    text-align: center;
}

.terms { // Terminos y condiciones
    padding: 0 5% 5%;
    text-align: justify;
    a {
        text-decoration: none;
        color: #000;
    }
}

// Textos de modal
.text-sign-in {
    margin: 10px auto; // Centrar horizontalmente 
    display: block; 
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    padding: 20px;
}

// Botón cerrar
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: transform 0.3s ease;
}

// Estilos para el botón de cerrar al hacer hover
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    transform: scale(1.2);
}
    
.icon {
    width: 20px;
    margin-right: 10px; 
    filter: invert(1);
}

.mail {
    color: #fff;
    text-decoration-line: none;
    display: flex;
    align-items: center;
}

small { // Pie de pagina de modal copyright
    display: block; 
    text-align: center;
    opacity: 0.6;
}

.cart {
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    font-family: $font-family;
    border-radius: 15px;
    padding: 25px;
    box-sizing: border-box;
    position: fixed;
    right: -100%;
    top: 160px;
    bottom: 0;
    overflow-y: auto;
    box-shadow: -19px -1px 22px -15px rgba(0, 0, 0, 0.3);
    z-index: 1100;
    transition: right 0.5s ease;

    &--open {
        right: 0;
    }

    &__title {
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        padding: 25px 0 0;
        box-sizing: border-box;
    }

    &__item {
        border-bottom: 1px solid #333;
        display: flex;
        align-items: center;
        padding: 10px 0;
        box-sizing: border-box;
        justify-content: space-between;

        img {
            width: 15%;
            padding: 0.6rem 0;
            margin-right: 10px; // Espacio entre la imagen y el texto
        }

        .cart__item-details {
            flex: 1; // Ocupa el espacio restante
            overflow: hidden;
            text-overflow: ellipsis;
        }

        p {
            margin: 0;
        }

        .cart__item-delete-icon {
            width: 20px;
            cursor: pointer;
            transition: transform 0.2s ease;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
    // Estilos para el botón Comprar
    a {
        text-decoration: none;
        .boton-comprar {
            @include custom-button($color-primario);
            display: flex;
            margin: 18px auto 3px;
            padding: 0.6rem 5rem;
        }
    }
}

.cart__close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    padding: 1rem;
    cursor: pointer;
    transition: transform 0.2s ease;

    &:hover {
        transform: scale(1.2);
    }
}
.menu__icon-container {
    display: none;
}
#cart-icon {
    transition: transform 0.3s ease; // Transición solo para la transformación (escala)
    transform-origin: center center;
}
.cart__item-text,
.cart__item-count {
    font-weight: 600;
    font-size: 16px;
}

.cart__item-count-container,
.cart__total-container {
    text-align: center;
}

@media screen and (max-width: 600px) {
    // Menu a la izquierda
    .boton-nav{ //Ocultar botones de nav en versión móvil
        display: none;
    }

    .menu__icon-container {
        display: block;
    }
    .menu {
        width: 100%;
        max-width: 500px;
        background-color: #fff;
        font-family: $font-family;
        border-radius: 15px;
        padding: 25px;
        box-sizing: border-box;
        position: fixed;
        left: -100%;
        top: 160px;
        bottom: 0;
        overflow-y: auto;
        box-shadow: -19px -1px 22px -15px rgba(0, 0, 0, 0.3);
        z-index: 1100;
        transition: left 0.5s ease;
        
        .no-bullets {
            //list-style-type: none; /* Quitar viñetas */
            padding: 0; /* Eliminar el relleno por defecto */
            margin: 0; /* Eliminar el margen por defecto */
        }
        
        &--open {
            left: 0;
        }

        &__title {
            text-align: center;
            font-size: 20px;
            font-weight: 600;
            padding: 25px 0;
            box-sizing: border-box;
        }
        p {
            margin: 0;
        }
        a {
            text-decoration: none;
            color: #333;
            transform: scale(1.2);
            .menu-item {
                border-bottom: 1px solid #333;
                display: flex;
                justify-content: left;
                padding: 20px 0 20px 20px;
                box-sizing: border-box;
                text-decoration: none;
                font-weight: 500;
                font-size: 20px;
            }
        }
    }

    .menu__close-icon {
        display: none; // Ocultar el ícono de X por defecto
    }
    
    #menu-icon,
    #cart-icon {
        transition: transform 0.3s ease; // Transición solo para la transformación (escala)
        transform-origin: center center;
    }
}
@media screen and (min-width: 600px) {
    .menu {
        display: none;
    }
}
.toggle {
    &--cart {
        cursor: pointer;
    }
}

.cart__item-delete-icon {
    width: 250px;
    cursor: pointer;
    transition: transform 0.2s ease;

    &:hover {
        transform: scale(1.1);
    }
}
.cart__quantity-controls {
    display: flex;
    align-items: center;
}

.cart__quantity-controls button {
    background-color: #ccc;
    color: #333;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.2rem 0.5rem;
    margin: 0 0.2rem;
    border-radius: 20px;
}

.cart__quantity-controls button:hover {
    background-color: #999;
}

.cart__quantity-count {
    margin: 0 0.5rem;
}

// Estilos de carrusel de imágenes
.slideshow-container {
    position: relative;
    width: 500px;
    margin: 0 auto 10px;
}
  
.mySlides {
    display: none;
}
  
img {
    vertical-align: middle;
}
  
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
  
/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #717171;
}
  
/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
@media only screen and (max-width: 768px) {
    .prev, .next {
        font-size: 12px;
        padding: 10px;
    }
    
    .dot {
        height: 10px;
        width: 10px;
    }

    .slideshow-container {
        max-width: 95%;
        padding: 0 15px;
    }

    img {
        width: 100%;
    }
}

// Estilos del modal 
.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    animation: slideIn 0.5s ease forwards;
}

// Contenido del modal
.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 20px;    
} 